<!DOCTYPE html>
<html lang="en">

<head>
<style>
body {
  margin: 0;
  transition: background-color .5s;
  height: 100%;
  font-family: "Lato", sans-serif;
}

.tooltip {
    position: fixed;
    display: inline-block;
    
}

.jqx-grid-cell-left-align-tool {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 2px; 
    text-align: left; 
    margin-right: 2px; 
    margin-left: 4px;
}

.jqx-grid-cell-left-align-tool .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    bottom: 100%;
    border-radius: 6px;
    padding-bottom: 2px; 
    height: 120px;
    left: 0px;
    text-align: left; 
    
	position: absolute;
    /* Position the tooltip */
    
    z-index: 0;
}

.jqx-grid-cell-left-align-tool:hover .tooltiptext {
    visibility: visible;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


div.content {
  margin-left: 5px;
  position: fixed;
  height: 85%;
}



a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4c54af;
    color: white;
}

.round {
    border-radius: 50%;
}
</style>
	<script type="text/javascript">
		var today = localStorage.getItem("date");
		
		// Retrieve
		if(today===null)
		{
		 	today = new Date();
			var dd = today.getDate();
			var mm = today.getMonth()+1; //January is 0!
			var yyyy = today.getFullYear();
			
			if(dd<10) {
			    dd = '0'+dd
			} 
			
			if(mm<10) {
			    mm = '0'+mm
			} 
			today = mm + '/' + dd + '/' + yyyy;
			
			localStorage.setItem("date",today);
			
			document.getElementById("date").innerHTML=today;
		}
		
		
	</script>
    <title id='Description'>Proseeda Daily Report</title>
    <link rel="stylesheet" href="jqwidgets-ver6.1.0/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="jqwidgets-ver6.1.0/jqwidgets/styles/jqx.black.css" type="text/css" />
    <link rel="stylesheet" href="jqwidgets-ver6.1.0/jqwidgets/styles/jqx.darkblue.css" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/scripts/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxgrid.selection.js"></script> 
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxgrid.columnsresize.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxgrid.sort.js"></script> 
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxnumberinput.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxdatetimeinput.js"></script>
      <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxgrid.edit.js"></script>
      <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxdropdownbutton.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxtree.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/scripts/demos.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxgrid.aggregates.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxgrid.grouping.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxgrid.filter.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/qwidgets/jqxgrid.sort.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/globalization/globalize.js"></script>
     <script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxtabs.js"></script>

<script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxdatetimeinput.js"></script>
<script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/jqxcalendar.js"></script>
<script type="text/javascript" src="jqwidgets-ver6.1.0/jqwidgets/globalization/globalize.js"></script>
    
    <script type="text/javascript">
	    function mOver(obj,data,index)
	    {
	    	$("#jqxGrid").jqxGrid('setcellvalue', index, "Description", data);
	    }
	
	    function mOut(obj,data,index)
	    {
	    	$("#jqxGrid").jqxGrid('setcellvalue', index, "Description", data);
	    }
        $(document).ready(function () {
            var url = "jsp/loaddata.jsp";

            // prepare the data
            var source =
            {
                datatype: "json",
                datafields: [
                    { name: 'Name', type: 'string' },
                    { name: 'Case', type: 'string' },
                    { name: 'Duration', type: 'string' },
                    { name: 'Date', type: 'string' },
                    { name: 'Time', type: 'string' },
                    { name: 'Description', type: 'String' },
                    { name: 'body', type: 'String' },
                    { name: 'To', type: 'String' },
                    { name: 'Source', type: 'string' },
                    { name: 'Confirmed', type: 'bool' },
                ],
                id: 'id',
                url: url,
                addrow: function (rowid, rowdata, position, commit) {
                    var formattedBirthDate = $.jqx.formatDate(rowdata.BirthDate, 'yyyy-MM-dd');
                    var data = $.extend({}, rowdata);
                    data.BirthDate = formattedBirthDate;
                    $.ajax({
                        url: 'jsp/addrow.jsp',
                        data: data,
                        type: 'POST',
                        success: function (data, textStatus, jqXHR) {
                            commit(true);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            commit(false);
                        }
                    });
                },
                deleterow: function (rowid, commit) {
                    $.ajax({
                        url: 'jsp/deleterow.jsp',
                        data: {
                            row: rowid
                        },
                        type: 'POST',
                        success: function (data, textStatus, jqXHR) {
                            commit(true);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            commit(false);
                        }
                    });
                },
                updaterow: function (rowid, newdata, commit) {
                	var data = $.extend({}, newdata);
                	data.id = rowid;
                    $.ajax({
                        url: 'jsp/updaterow.jsp',
                        data: data,
                        type: 'POST',
                        success: function (data, textStatus, jqXHR) {
                            commit(true);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            commit(false);
                        }
                    });
                }
                
            };
            var cellsrenderer = function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
               console.log("asd");
               var toRet = '<div class="jqx-grid-cell-left-align-tool" onmouseover="mOver(this,\''+rowdata.body+'\','+row+')" onmouseout="mOut(this,\''+value+'\','+row+')" style="margin-top: 8px;">' + value + 
               '</div>';
               return toRet
               //return '<span style="color: #008000;">' + value + '</span>';
               //return '<div class="jqx-checkbox-default" style="color: #008000; margin-top: 8px;">'+ value + '</div>'  
            }
            
            
            var dataAdapter = new $.jqx.dataAdapter(source,
            	    {
            	formatData: function (data) {
            		var today = localStorage.getItem("date");
            		
            		if(today!=null){
            			data.date=today;	
            			document.getElementById("date").innerHTML=today;
            		}
            		else{
            			
           			 	today = new Date();
           				var dd = today.getDate();
           				var mm = today.getMonth()+1; //January is 0!
           				var yyyy = today.getFullYear();
           				
           				if(dd<10) {
           				    dd = '0'+dd
           				} 
           				
           				if(mm<10) {
           				    mm = '0'+mm
           				} 
           			
           				today = mm + '/' + dd + '/' + yyyy;
           				localStorage.setItem("date",today);
           				data.date=today;
           				
           				document.getElementById("date").innerHTML=today;	
            			
            		}
            		
            		data.userId = localStorage.getItem("userId");
                    return data;
                },
            			loadError: function(jqXHR, status, error){
            				alert('error ziv on request');
            			},
            			beforeLoadComplete: function(result,req){
            				//alert('before load');
            			},
            			downloadComplete: function(edata, textStatus, jqXHR){
            				//alert('downloadComplete');
            			},
            			loadComplete: function() {
                            var ids = grid.jqGrid('getDataIDs');
                            for (var i=0;i<ids.length;i++) {
                                var id=ids[i];
                                var rowData = grid.jqGrid('getRowData',id);
                                $('#'+id,grid[0]).attr('title', rowData.Name + ' , ' +
                                                                rowData.Case + ', ' +
                                                                rowData.Description);
                            }
                        }
		            	
		            	
            	    }
            	);
            var toThemeProperty = function (className) {
                return className + " " + className + "-" + theme;
            }

            var groupsrenderer = function (text, group, expanded, data) {
                var number = dataAdapter.formatNumber(group, data.groupcolumn.cellsformat);
                var text = number;
                var aggregate =0;
                
                if(data.subGroups.length>0)
                {
                	var totalGroup = [];
                	for (i = 0; i < data.subGroups.length; i++) {   
                		for(j=0;j<data.subGroups[i].subItems.length;j++){
                			totalGroup.push(data.subGroups[i].subItems[j]);	
                		}
                	}
                	aggregate = this.getcolumnaggregateddata('Duration', ['sum'], true, totalGroup);	
                }
                else{
                	aggregate = this.getcolumnaggregateddata('Duration', ['sum'], true, data.subItems);
                }
                
                return '<div><span style="margin: 10px 10px;">' 
                + text + 
                '</span>' +
                '<span style="position: fixed; left: 514px">' 
                    +  Math.round(aggregate.sum*10)/10 + 
                    '</span></div>';
                    
            }
            var initrowdetails = function (index, parentElement, gridElement, datarecord) {
            	var tabsdiv = null;
                var information = null;
                var notes = null;
                tabsdiv = $($(parentElement).children()[0]);
                if (tabsdiv != null) {
                    information = tabsdiv.find('.information');
                    var title = tabsdiv.find('.title');
                    title.text("Detailed Information");                    
                    var container = $('<div style="margin: 5px;"></div>')
                    container.appendTo($(information));
                    
                    var leftcolumn = $('<div style="float: left; width: 45%;"></div>');
                    var rightcolumn = $('<div style="float: left; width: 40%;"></div>');
                    
                    container.append(leftcolumn);
                    container.append(rightcolumn);
                    
                    var name = "<div style='margin: 10px;'><b>Customer Name:</b> " + datarecord.Name + "</div>";
                    var caseId = "<div style='margin: 10px;'><b>Case Name:</b> " + datarecord.Case + "</div>";
                    var subject = "<div style='margin: 10px;'><b>Subject:</b> " + datarecord.Description + "</div>";
                    var address = "<div style='margin: 10px;'><b>TO:</b> " + datarecord.To + "</div>";
                    $(leftcolumn).append(name);
                    $(leftcolumn).append(caseId);
                    $(leftcolumn).append(subject);
                    $(leftcolumn).append(address);
                    var content = "<div style='margin: 10px;'><b>content:</b> " + datarecord.body + "</div>";
                    $(rightcolumn).append(content);
                    $(tabsdiv).jqxTabs({ width: 750, height: 170, theme: 'black'});
                }
            }
            
            $("#grid").jqxGrid(
            {
            	width: '99%',
                height: '85%',
                source: dataAdapter,
                columnsresize: true,
                filterable: true,
               sortable:true,
                filtermode: 'excel',
                groupable: true,
                showstatusbar: true,
                editable: true,
                statusbarheight: 50,
                showgroupsheader: false,
                groupsrenderer: groupsrenderer,
                showaggregates: true,
                theme: 'black',
                altrows: true,
                enabletooltips: true,
                selectionmode: 'multiplecellsextended',
                rowdetails: true,
                rowdetailstemplate: { rowdetails: "<div style='margin: 10px;'><ul style='margin-left: 30px;'><li class='title'></li></ul><div class='information'></div><div class='notes'></div></div>", rowdetailsheight: 200 },
                
                initrowdetails: initrowdetails,
                columns: [
                  { text: 'Name', columntype: 'textbox', filtercondition: 'starts_with',datafield: 'Name',title:false,width:'20%'},
                  { text: 'Case', columntype: 'textbox', filtercondition: 'starts_with',datafield: 'Case',title:false,width:'70px'},
                  { text: 'Duration', columntype: 'textbox', filtercondition: 'starts_with',cellsalign: 'right', datafield: 'Duration',width:'140px',
                	  aggregates: [{ 'Total Confirmed':
                          function (aggregatedValue, currentValue, column, record) {
                		  var total = 0;
                		  if(record['Confirmed']===true){
                          	total = Number(record['Duration']);
                		  }
                          return Math.round((aggregatedValue + total)*10)/10;
                      }
            		},{ 'Total Pending':
                        function (aggregatedValue, currentValue, column, record) {
            			var total=0;
              		  if(record['Confirmed']===false){
                        	total = Number(record['Duration']);
              		  }
              			return Math.round((aggregatedValue + total)*10)/10;
                    }
          			}
                	  ]},
               	  { text: 'Date', columntype: 'string', filtercondition: 'starts_with',cellsalign:'center',datafield: 'Date', title:false},
                  { text: 'Time', columntype: 'textbox', filtercondition: 'starts_with',cellsalign:'center',datafield: 'Time', title:false},
                  { text: 'Description', columntype: 'textbox', filtercondition: 'starts_with',datafield: 'Description', width:'100px',title:false},
                  { text: 'Source', columntype: 'textbox', filtercondition: 'starts_with',datafield: 'Source',title:false,width:'20%' },
                  { text: 'Status', datafield: 'Confirmed',  columntype: 'checkbox'}
                  
              ],
              	
            	groups: ['Name','Case']
            });
            
           
           
            
            $("#showGrouping").jqxCheckBox({ checked: false });
            var refreshAppearance = function () {
                var rowLines = $("#showGrouping").val();
                
                $("#grid").jqxGrid({ showgroupsheader: rowLines });
                
            }
            $("#showGrouping").on('change', function () {
                refreshAppearance();
            });
            
            $('#grid').on('rowcollapse', function (event) 
            		{ 
            		    // event arguments.
            		    var args = event.args;
            		    // row details.
            		    var details = args.details;
            		    // row's bound index.
            		    var rowBoundIndex = args.rowindex;
            		});
            
            
            
            $("#expand").jqxButton({ theme: theme });
            $("#collapse").jqxButton({ theme: theme });
         // expand group.
            $("#expand").on('click', function () {      
                var groupnum = parseInt($("#groupnum").val());
                if (!isNaN(groupnum)) {
                    $("#grid").jqxGrid('expandgroup', groupnum);
                }
            });

            // collapse group.
            $("#collapse").on('click', function () {
                var groupnum = parseInt($("#groupnum").val());
                if (!isNaN(groupnum) && groupnum>1) {
                    $("#grid").jqxGrid('collapsegroup', groupnum);
                }
            });
         // trigger expand and collapse events.
            $("#grid").on('groupexpand', function (event) {
                var args = event.args;
                $("#expandedgroup").text("Group: " + args.group + ", Level: " + args.level);
            });

            $("#grid").on('groupcollapse', function (event) {
                var args = event.args;
                $("#collapsedgroup").text("Group: " + args.group + ", Level: " + args.level);
            });
            $('#clearfilteringbutton').jqxButton({ height: 25});
            $('#clearfilteringbutton').click(function () {
                $("#grid").jqxGrid('clearfilters');
            });
            $("#addrowbutton, #deleterowbutton, #updaterowbutton").jqxButton({
                width: 150
            });

            $('#addrowbutton').click(function () {
                var datarow = generaterow();
                var commit = $("#jqxgrid").jqxGrid('addrow', null, datarow);
            });

            $('#deleterowbutton').click(function () {
                var selectedrowindex = $("#jqxgrid").jqxGrid('getselectedrowindex');
                var rowscount = $("#jqxgrid").jqxGrid('getdatainformation').rowscount;
                if (selectedrowindex >= 0 && selectedrowindex < rowscount) {
                    var id = $("#jqxgrid").jqxGrid('getrowid', selectedrowindex);
                    var commit = $("#jqxgrid").jqxGrid('deleterow', id);
                }
            });

            $('#updaterowbutton').click(
                function () {
                    var selectedrowindex = $("#jqxgrid").jqxGrid('getselectedrowindex');
                    var rowscount = $("#jqxgrid").jqxGrid('getdatainformation').rowscount;
                    if (selectedrowindex >= 0 && selectedrowindex < rowscount) {
                        var id = $("#jqxgrid").jqxGrid('getrowid', selectedrowindex);
                        var datarow = generaterow();
                        $("#jqxgrid").jqxGrid('updaterow', id, datarow);
                    }
                });
        });
    </script>
</head>
<body class='default'>
		
		
		<div id="header" >
		
			<img src="if_menu-alt_134216.png" onclick="openNav()" style="cursor:pointer;height: 40px; width: 40px; padding-left: 10px" alt="Italian Trulli">
			
			<a id="date" onclick="openCalender();" style="display:none">ziv</a>
			
			<img data-toggle="tooltip" onmouseover="showDate(this)" title="ziv" src="if_calendar_1287530.png" onclick="openCalender();" 
				style="height: 40px; width: 40px; padding-left: 1200px" 
				alt="Italian Trulli">
			<img data-toggle="tooltip" onmouseover="showUserId(this)" title="ziv" src="user-avatar-png-1.png" 
				style="height: 40px; width: 40px; position="fixed"; padding-left: 1000px" 
				alt="Italian Trulli">
				  
			
			
		</div>
		<div id="mySidenav" class="sidenav">
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		  <a href="#">About</a>
		  <a href="#">Setting</a>
		  <a href="dashboard.html">Dashboard</a>
		  <a href="#">Contact</a>
		</div>
		<div>
	        <div id="grid" style="position:fixed; height: 85%"></div>
	        <br />      
        	<div id="showGrouping" style="position:fixed; top:95%">Change Grouping</div>
        	<div style="font-family: Verdana; font-style: normal; font-size: 13px; position:fixed; top:95%; left:25%">Change Theme:
		        	<select id="layout" onchange="changeLayout(this.options[this.selectedIndex].value)">
					  <option value="black">Black</option>
					  <option value="darkblue">Blue</option>
					  <option value="Classic">Classic</option>
					</select>
			</div>
	    </div>
        
         
        
    </div>
        
</body>
<script type="text/javascript">

function changeLayout(selectedObject){
	var mySelect = document.getElementById('layout');
	var mySelect1 = document.getElementById('showGrouping');
	
	for(var i, j = 0; i = mySelect.options[j]; j++) {
	    if(i.value == selectedObject) {
	        mySelect.selectedIndex = j;
	        $("#grid").jqxGrid({ theme: selectedObject });
	        $('#grid').jqxGrid('render');
	        break;
	    }
	}
}

function showDate(x){
	var today = localStorage.getItem("date");
	x.title = today;
}

function showUserId(x){
	var user = localStorage.getItem("userId");
	x.title= user;
}

function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    document.body.style.backgroundColor = "white";
}
	function openCalender(){
		window.open("calender6.html", "myWindow", 'width=300,height=300,menubar=0,status=0,titlebar=0');
		window.close();
	}
	function moveDateForward(){
		var today = localStorage.getItem("date");
		
		// Retrieve
		if(today!=null)
		{
		 	today = new Date(today.toString());
			var dd = today.getDate()+1;
			var mm = today.getMonth()+1; //January is 0!
			var yyyy = today.getFullYear();
			
			if(dd<10) {
			    dd = '0'+dd
			} 
			
			if(mm<10) {
			    mm = '0'+mm
			} 
		
			today = mm + '/' + dd + '/' + yyyy;
			
			localStorage.setItem("date",today);
			document.getElementById("date").innerHTML=today;
			location.reload();
		}
		
		
	}
	function moveDateBack(){
		var today = localStorage.getItem("date");
		
		// Retrieve
		if(today!=null)
		{
			today = new Date(today.toString());
			var dd = today.getDate()-1;
			var mm = today.getMonth()+1; //January is 0!
			var yyyy = today.getFullYear();
			
			if(dd<10) {
			    dd = '0'+dd
			} 
			
			if(mm<10) {
			    mm = '0'+mm
			} 
			today = mm + '/' + dd + '/' + yyyy;
			
			localStorage.setItem("date",today);
			document.getElementById("date").innerHTML=today;
			location.reload();
		}
		
		
	}
	
</script>
</html>
